@{
    ViewData["Title"] = "Ayuda";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]/Tutorial</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info"></i>&nbsp;&nbsp;@ViewData["Message"]
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary no-boder">
            <div class="panel-body blue">
                <i class="fas fa-stream fa-2x text-center"></i>
                <h3 class="text-center">Navegación Lateral</h3>
                <hr>
                <p>La barra lateral de navegación está diseñada para agrupar las páginas según correspondan a su área. Cada área alberga una serie de páginas con contenido relacionado.</p>
                <p>Explora todo el sitio con facilidad y navega directo a lo que buscas.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary no-boder">
            <div class="panel-body pink">
                <i class="fas fa-ad fa-2x text-center"></i>
                <h3 class="text-center">Barra de Título como punto de inicio</h3>
                <hr>
                <p>La barra de título es un distintivo que le da la identidad a cada una de las páginas de este sitio. Pero, más allá de solo indicar la marca y la etiqueta, es un acceso directo. Sí, el cual te sitúa de nuevo en la página de inicio ¡a la distancia de un clic!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary no-boder">
            <div class="panel-body yellow">
                <i class="fas fa-lightbulb fa-2x text-center"></i>
                <h3 class="text-center">Títulos de Página descriptivos</h3>
                <hr>
                <p>Con solo dar un vistazo a las secciones y sub-secciones de la barra lateral conocerás los títulos de las áreas con las que se construye este sistema.</p>
                <p>La intención es que con solo leer los nombres, tengas noción sobre cuál es el contenido de cada una, y por ende, las acciones que puedes realizar con éstas.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default no-boder">
            <div class="panel-body purple">
                <i class="fas fa-wifi fa-2x text-center"></i>
                <h3 class="text-center">Vínculos útiles desde la Página Principal</h3>
                <hr>
                <p>Además de brindarte algunas recomendaciones para que tu desempeño diario administrando tu negocio se vea favorecido, existen algunos accesos directos (con forma de botones, con títulos muy descriptivos por cierto) con los cuales tendrás acceso rápido a la gestión de las cuentas en línea de tu negocio, las cuales son la huella digital para que clientes nuevos descubran, y clientes recurrentes conecten con DIVAL.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-primary no-boder">
            <div class="panel-body ice">
                <i class="fas fa-info fa-2x text-center"></i>
                <h3 class="text-center">Tips en cada página que visites</h3>
                <hr>
                <p>¿Te has percatado que en todas las páginas existe una notificación emergente justo después del título? ¿Y que clickeando en la <b>x</b> se pueden ocultar?</p>
                <p>Estos avisos pueden darte más información acerca del sitio en que te encuentras, su contenido, las acciones que puedes realizar o uno que otro mensaje a modo de recordatorio.</p>
                <p>Genial, ¿no?</p>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default no-boder">
            <div class="panel-body orange">
                <i class="fas fa-bookmark fa-2x text-center"></i>
                <h3 class="text-center">Marcador de Página con doble función</h3>
                <hr>
                <p>El botón situado en la esquina superior derecha de cada página cumple con su simple cometido de indicador de posición mientras navegas entre todo el contenido de este sitio.</p>
                <p>Aunque, también puede ser útil en páginas muy extensas... para situarte de regreso al principio del contenido de forma instantánea. Haz la prueba dándole un clic.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary no-boder">
            <div class="panel-body green">
                <i class="fas fa-question-circle fa-2x text-center"></i>
                <h3 class="text-center">¿Tienes alguna otra duda, sugerencia o comentario?</h3>
                <hr>
                <p>Si lo consideras necesario, puedes ponerte en contacto con los desarrolladores detrás de este sistema. Consulta la información adicional del sitio web navegando hacia<br><b>Información del Sistema</b><i class=" fa fa-angle-right fa-fw"></i><b>Acerca De</b><br>para obtener los vínculos de contacto y así puedas enviar tu mensaje. Responderemos tan pronto como nos sea posible. Gracias por tu paciencia.</p>
            </div>
        </div>
    </div>
</div>