@{
    ViewData["Title"] = "Política de Privacidad";
}

<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">@ViewData["Title"]/Cookies</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info"></i>&nbsp;&nbsp;@ViewData["Message"]
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <p><strong>Botanas, Frituras y Garapiñados "DIVAL"</strong> utiliza cookies en el sitio web <span class="text-info">https://botanasdival.azurewebsites.net/</span> (el "Servicio").<br>Al usar este servicio, usted acepta nuestro uso de cookies.</p>
            <p>Nuestra Política de Cookies explica qué son las cookies, cómo las utilizamos, cómo algunos servicios de terceros con quienes nos asociáramos pueden usar las cookies de este servicio, sus opciones respecto a las cookies e información adicional acerca de éstas.<br>Ésta Política de Cookies para DIVAL fue elaborada por el <a href="https://termsfeed.com/cookies-policy/generator/">Generador de Política de Cookies de TermsFeed's</a>.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Qué son las Cookies?</a>
                    </h2>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Las cookies son pequeñas porciones de texto enviadas a su navegador web por un sitio web que visita. Un archivo de cookie es almacenado en su navegador web y permite a este servicio o a un tercero reconocerlo como usuario y hacer de su próxima visita y del servicio en general una experiencia mucho más útil para usted.</p>
                        <p>Las cookies pueden ser tanto persistentes como de sesión. Las cookies persistentes se almacenan en su computadora o dispositivo móvil cuando se desconecta de internet, mientras que las cookies de sesión son eliminadas tan pronto como usted cierre su navegador web.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Cómo DIVAL utiliza las Cookies</a>
                    </h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Cuando usted accede y utiliza este servicio, nosotros podemos alojar cierto número de archivos de cookies en su navegador.</p>
                        <p>Nosotros utilizamos las cookies para los siguientes fines:</p>
                        <ul>
                            <li>
                                <p>Para autorizar ciertas funciones de nuestro servicio.</p>
                                <p>Utilizamos tanto cookies persistentes como de sesión en este servicio, así como tipos distintos de cookies para garantizar el correcto funcionamiento del servicio.</p>
                                <p>Cookies Esenciales: Podemos hacer uso de las cookies esenciales para autorizar usuarios y así prevenir un uso fraudulento de las cuentas de usuario.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Cuáles son sus opciones respecto a las Cookies</a>
                    </h2>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Si usted prefiere eliminar o a su vez configurar su navegador para eliminar o rechazar las cookies, por favor revise las páginas de ayuda de su navegador correspondiente.</p>
                        <p>De cualquier forma, por favor considere que si usted elimina o rechaza las cookies, podría no ser capaz de utilizar todas las características que nuestro servicio ofrece, sus preferencias no podrían almacenarse, o incluso algunas de las páginas podrían no mostrarse adecuadamente.</p>
                        <ul>
                            <li>
                                <p>En caso del Navegador Web Chrome, por favor visite esta página de Google: <a href="https://support.google.com/accounts/answer/32050">https://support.google.com/accounts/answer/32050</a></p>
                            </li>
                            <li>
                                <p>Para el Navegador Internet Explorer, por favor visite esta página de Microsoft: <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a></p>
                            </li>
                            <li>
                                <p>Para el Navegador Web Firefox, por favor visite esta página de Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a></p>
                            </li>
                            <li>
                                <p>Para el Navegador Web Safari, por favor visite esta página de Apple: <a href="https://support.apple.com/kb/PH21411?locale=en_US">https://support.apple.com/kb/PH21411?locale=en_US</a></p>
                            </li>
                            <li>
                                <p>En caso de usar cualquier otro navegador, por favor visite las páginas de ayuda oficiales de su correspondiente navegador web.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Dónde puede encontrar más información acerca de las Cookies</a>
                    </h2>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Usted puede aprender más sobre las cookies y los siguientes sitios web de terceros:</p>
                        <ul>
                            <li>
                                <p>AllAboutCookies: <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a></p>
                            </li>
                            <li>
                                <p>Network Advertising Initiative: <a href="http://www.networkadvertising.org/">http://www.networkadvertising.org/</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end collapsible panel group-->
    </div>
</div>
