<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIVAL | @ViewData["Title"]</title>

    <!--Core style elements-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap.css" />
    <link rel="shortcut icon" type="image/ico" href="/faviconlogo.ico">
    <link href="~/lib/font-awesome-5.5.0/css/all.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/main-style.css" rel="stylesheet" />
    <!--Google Fonts used-->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Salsa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body id="body" onload="autoSelect(); autoCustomize();">

    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home">
                    <img id="homeLinkImg" src="/images/DIVALlogobanner.png" alt="DIVAL Logo" onclick="saveSelect(this.id)"/>
                    <p id="homeLinkTitle" onclick="saveSelect(this.id)"><span style="color: #70C23A !important;">Botanas</span>, <span style="color: #FFD900 !important;">Frituras</span> y <span style="color: #FF8400 !important;">Garapiñados</span></p>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar top link (right) -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <button class="btn-top" onclick="goToTop()"><p class="navbar-title">@ViewData["Title"]</p></button>
                </li>
            </ul>
            <!-- end navbar-top-link -->

        </nav>
        <!-- end navbar top -->

        <br><br> <!--extra space (?)-->
        <!-- navbar side -->
        <nav class="navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <!--If you want to display any notification it must be placed after this block (sidebar-clock)-->
                    
                    <div class="sidebar-clock text-center">
                        <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=medium&timezone=America%2FMexico_City" width="100%" height="105" frameborder="0"></iframe>
                    </div>

                    <!-- <div class="sidebar-notification text-center alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fas fa-grin-beam"></i>&nbsp;¿Alguien dijo Botanas?
                    </div> -->

                    <!-- sidebar link list -->
                    <li id="homeLink">
                        <a href="/Home" onclick="saveSelect(this.parentElement.id)"><i class="fas fa-home fa-fw"></i>&nbsp;Página Principal</a>
                    </li>
                    <li id="comprasLink">
                        <a href="/compras/Compras/Index" onclick="saveSelect(this.parentElement.id)"><i class="fas fa-shopping-cart fa-fw"></i>&nbsp;Compras</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-dollar-sign fa-fw"></i>&nbsp;Ventas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="ventasLink">
                                <a href="/ventas/Ventas/Index" onclick="saveSelect(this.parentElement.id)"><i class="fas fa-money-bill-alt fa-fw"></i>&nbsp;Ventas Concretadas</a>
                            </li>
                            <li id="pedidosLink">
                                <a href="/ventas/Pedidos/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-shopping-bag fa-fw"></i>&nbsp;Pedidos</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-chart-pie fa-fw"></i>&nbsp;Producción<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="recetasLink">
                                <a href="/produccion/Recetas/Index" onclick="saveSelect(this.parentElement.id)"><i class="fas fa-book fa-fw"></i>&nbsp;Recetas</a>
                            </li>
                            <li id="ingredientesLink">
                                <a href="/produccion/Ingredientes/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-wine-bottle fa-fw"></i>&nbsp;Ingredientes</a>
                            </li>
                            <li id="almacenLink">
                                <a href="/produccion/Almacen/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-box fa-fw"></i>&nbsp;Almacén</a>
                            </li>
                            <li id="productosLink">
                                <a href="/produccion/Productos/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-barcode fa-fw"></i>&nbsp;Productos</a>
                            </li>
                            <li id="inventarioLink">
                                <a href="/produccion/Inventario/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-shopping-basket fa-fw"></i>&nbsp;Inventario</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs fa-fw"></i>&nbsp;Organización<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="categoriasLink">
                                <a href="/organizacion/Categorias/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-columns fa-fw"></i>&nbsp;Categorías</a>
                            </li>
                            <li id="presentacionesLink">
                                <a href="/organizacion/Presentaciones/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-th-large fa-fw"></i>&nbsp;Presentaciones</a>
                            </li>
                            <li id="unimedLink">
                                <a href="/organizacion/UnidadesMedidas/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-balance-scale fa-fw"></i>&nbsp;Unidades de Medida</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li id="statusLink">
                        <a href="/control/Status/Index" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-check-square fa-fw"></i>&nbsp;Estatus de los Registros</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-info fa-fw"></i>&nbsp;Información del Sistema<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="privacyLink">
                                <a href="/Home/Privacy" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-lock fa-fw"></i>&nbsp;Política de Privacidad</a>
                            </li>
                            <li id="aboutLink">
                                <a href="/Home/About" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-info-circle fa-fw"></i>&nbsp;Acerca de</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li id="helpLink">
                        <a href="/Home/Help" onclick="saveSelect(this.parentElement.id)"><i class="fa fa-question fa-fw"></i>&nbsp;Ayuda</a>
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->

        <partial name="_CookieConsentPartial" />

        <!--  page-wrapper -->
        <div id="page-wrapper">
                <!-- button in fixed position of the screen back to the public view of the website -->
                <button id="btn-bottom"><a href="/" id="exitAdminPanel">&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;<span id="bottomText">Salir del Panel de Administración</span>&nbsp;</a></button>
                
                <button id="sidebtn-config" data-toggle="modal" data-target="#myModal"><span id="configModal"><i class="fas fa-cog"></i></span></button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header orange">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Personalizar el Panel de Administración</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="alert alert-success">
                                            No es obligatorio quedarse con el fondo de muestra de las palomitas. Tal vez quieras refrescar un poco tu vista de vez en cuando y dejar de lado las botanas, al menos en esta parte del sistema.<br>
                                            Puedes cambiar la imagen de fondo de este panel de administración por cualquier otra imagen, dando clic en el botón de abajo para buscar entre las imágenes guardadas en tu PC y seleccionar tu favorita.<br>
                                            <br>Cambia de estilo las veces que quieras, y vuelve tu experiencia todavía mejor.
                                        </div>
                                        <span class="text-success">&nbsp; Carga una imagen para utilizarla de fondo:</span><br>
                                        <div class="alert alert-success">
                                            <i class="fas fa-desktop fa-2x">&nbsp;&nbsp;</i><input type="file" id="getBackground" style="display:inline-block;"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="alert alert-info">
                                            De igual forma, la pantalla de color difuso sobre el fondo puede adecuarse a tu gusto. Si quieres que tu imagen de fondo destaque o si la barra de navegación no es muy legible, puedes modificar el color de acento para lograr una mejor visualización.<br>
                                            <br>Utiliza el selector de abajo para escoger el color que mejor se adapte a tu fondo.
                                        </div>
                                        <span class="text-info">&nbsp; Elige el color de tu preferencia:</span><br>
                                        <div class="alert alert-info text-right">
                                            Selector de Color: <input type="color" id="getColor"/>&nbsp;&nbsp;&nbsp;<i class="fas fa-paint-brush fa-2x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer yellow">
                                <span class="text-danger">&nbsp; Para regresar a la configuración por defecto, click aquí: </span>&nbsp;<button id="clear" onclick="clearAll(); "class="btn btn-danger btn-outline">Reestablecer</button>&nbsp;&nbsp;|&nbsp;
                                <button type="button" class="btn btn-default orange" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Render each view contents when active here -->
                @RenderBody()
                
                <br><hr/>
                <footer>
                    <div class="text-success text-right">
                        <p><i class="far fa-copyright"></i>&nbsp; 2018 - Botanas, Frituras y Garapiñados "DIVAL". Todos los derechos reservados.</p>
                    </div>
                    <hr>
                </footer>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts to execute with every page -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap.js"></script>
    <script src="~/lib/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/siminta.js"></script>
    <script src="~/js/scroll-top.js"></script>
    <script src="~/js/side-menu-selector.js"></script>
    <script src="~/js/init-enhaced-tables.js"></script>
    <script src="~/js/change-background.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.8.0/sweetalert2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.8.0/sweetalert2.css" />
    
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.9/sweetalert2.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.9/sweetalert2.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.32.2/sweetalert2.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.32.2/sweetalert2.css" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" />*@

    @RenderSection("Scripts", required: false)
</body>
</html>
