@{
    Layout = null;
    ViewData["Title"] = "DIVAL | Acerca De";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <p>Hey! Testing...</p>
</body>
</html>
