@{
    Layout = null;
    ViewData["Title"] = "DIVAL | Contacto";
}

<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Botanas, Frituras y Garapiñados 'DIVAL' - Contáctanos">
    <meta name="author" content="DIVAL">

    <title>@ViewData["Title"]</title>
    <!-- DIVAL favicon -->
    <link rel="shortcut icon" href="~/faviconlogo.ico">

    <!-- Bootstrap core CSS (updated) -->
    <link href="~/public-lib/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome icons CSS import -->
    <link href="~/lib/font-awesome-5.5.0/css/all.css" rel="stylesheet" />

    <!-- Google Fonts used -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Salsa" rel="stylesheet">

    <!-- Core style (for public views) -->
    <link href="~/css/business-casual.css" rel="stylesheet">

  </head>

  <body>

    <!-- button in fixed position of the screen redirecting to the admin panel of the website -->
    <button type="button" id="btn-hidden" data-toggle="tooltip" data-placement="right" title="Entrar al Panel de Administración"><a href="../Home/Login" id="enterAdminPanel">&nbsp;&nbsp;<i class="fas fa-sign-in-alt"></i>&nbsp;</a></button>         

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary"><span style="color: #70C23A !important;">Botanas</span>, <span style="color: #FFD900 !important;">Frituras</span> y <span style="color: #FF8400 !important;">Garapiñados</span></span>
      <span class="site-heading-lower"><img class="site-heading-logo" src="~/images/DIVALlogobanner.png"></span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a id="site-heading-min" class="navbar-brand text-expanded font-weight-bold d-lg-none" href="/"><img id="logo-banner" src="~/images/DIVALlogobanner.png"><span style="color: #70C23A !important;">Botanas</span>, <span style="color: #FFD900 !important;">Frituras</span> y <span style="color: #FF8400 !important;">Garapiñados</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/Public/Index">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/Public/About">Acerca de</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/Public/Products">Productos</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/Public/Contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Visítanos</span>
                <span class="section-heading-lower">Horario de Atención</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingo
                  <span class="ml-auto">Cerrado</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Lunes
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Martes
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Miércoles
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Jueves
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Viernes
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sábado
                  <span class="ml-auto">9:00 AM a 6:00 PM</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>20 de Noviembre, 1381</strong>
                  <br>
                  Col. Zaragoza, Veracruz, Ver.
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llámanos</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/images/about-alt.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Orgullosamente Artesanales, Orgullosamente Veracruzanos</span>
                  <span class="section-heading-lower">Sobre DIVAL</span>
                </h2>
                <p>Garapiñados, Botanas y Frituras "DIVAL" ofrece a sus clientes gran variedad de botanas, frituras y garapiñados de calidad y sabor para todos los gustos. Contamos con precios especiales por mayoreo para sus fiestas y eventos. Nuestra cantidad de sabores y presentaciones hablan por sí solos. ¡No te quedes sin probarlos todos!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Visítanos</span>
                <span class="section-heading-lower">Cómo llegar</span>
              </h2><hr>
              <div class="alert alert-warning"><iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.2953533786635!2d-96.13413288551118!3d19.18229798702702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c3473069b2df6d%3A0x4c50d55a56820357!2sDIVAL+%E2%80%93+Garapi%C3%B1ados%2C+Botanas+y+Frituras!5e0!3m2!1ses-419!2smx!4v1544955802247" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright&nbsp; <i class="far fa-copyright"></i> &nbsp;DIVAL - Botanas, Frituras y Garapiñados - 2018&nbsp;</p>
      </div>
        <a class="m-0 small linkToTop" onclick="goToTop();">Ir arriba</a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/public-lib/jquery/jquery.min.js"></script>
    <script src="~/public-lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scroll-top.js"></script>

    <!-- Script to highlight the active weekday in the hours list -->
    <script>
        $('.list-hours li').eq(new Date().getDay()).addClass('today');
    </script>

  </body>


</html>

